Data not available publicly. Anyone need it for academic purpose only can request me at mc.chandrashekar@gmail.com

## Buisiness Problem:

### Forecast Inventory Management to achieve JIT standard for a Two-Wheeler Service Station


* The company which is going to deploy our forecasting model is a spare parts aggregator. 
* This aggregator company procures spare parts from manufactures in bulk and distribute to their buisiness partners

**Assumption 1:**  
We are NOT planning to develop forecasting mode for each buisiness partner's spare parts demand.   
Instead we are going to aggregate all the buisiness partner demands and the aggregated demand will be forecasted.

**Assumption 2:**  
Some items like 'Engine Oil' is different for different vehicle model. There are couple of such items/parts which vary depending upon vehicle model.   
However, we are assuming that any items/parts like sparkplug is same for all models of vehicle.

### Understanding Data

Invoice Date.................: Date on which the end user/customer is charged for the part/spare/inventory/item   
Job Card Date...............: Date on which the order is placed for the part/spare/inventory/item  
Business Partner Name: The vehicle service Centre(Serivice centre owner)  
Vehicle No. ...................: The vehicle Registration number  
Vehicle Model................: The model name  
Current KM Reading.....: The odometer reading in KM  
INVOICE LINE TEXT.....: The service/spares charges, that is charged to the vehicle owner

### Data Cleaning

**Note 1:**  
Only 2% of rows have NaN values, hence dropping all rows with NaN values  


**Note 2:**  
'Business Partner Name', 'Vehicle No.' doesn't seem to affect forecasting of spare/parts requirements, will be dropped.  

The cleaned data is stored as P4dataCleaned.xlsx

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel ('P4data.xlsx')

In [3]:
df.shape

(28484, 7)

In [4]:
df.head(3)

,Invoice Date,Job Card Date,Business Partner Name,Vehicle No.,Vehicle Model,Current KM Reading,INVOICE LINE TEXT
0,2017-05-30,2017-05-30,shivXXXXXXXXXX,KA03MFXXXX,BAJAJ AVENGER STREET 220,50000.0,ENGINE OIL
1,2017-06-02,2017-05-31,KIRAXXXXXXXXXX,KA53ESXXXX,BAJAJ PULSAR NS 200,758.0,ENGINE OIL
2,2017-06-02,2017-05-31,KIRAXXXXXXXXXX,KA53ESXXXX,BAJAJ PULSAR NS 200,758.0,POLISH

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28448 entries, 0 to 28481
Data columns (total 5 columns):
Invoice Date          28448 non-null datetime64[ns]
Job Card Date         28448 non-null datetime64[ns]
Vehicle Model         28448 non-null object
Current KM Reading    28448 non-null float64
INVOICE LINE TEXT     28448 non-null object
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 1.3+ MB

**Understanding Data:**  
Invoice Date............ : Date on which the end user/customer is charged for the part/spare/inventory/item   
Job Card Date............: Date on which the order is placed for the part/spare/inventory/item  
Business Partner Name....: The vehicle service Centre(Serivice centre owner)  
Vehicle No. ............ : The vehicle Registration number  
Vehicle Model............: The model name  
Current KM Reading.......: The odometer reading in KM  
INVOICE LINE TEXT........: The service/spares charges, that is charged to the vehicle owner

In [ ]:
df[df['INVOICE LINE TEXT'].isna()].shape

In [ ]:
df['Vehicle Model'].value_counts()

In [9]:
df.isna().sum()

Invoice Date              2
Job Card Date             2
Business Partner Name     0
Vehicle No.               0
Vehicle Model             2
Current KM Reading        2
INVOICE LINE TEXT        35
dtype: int64

In [7]:
df.isna().sum().to_frame().T

,Invoice Date,Job Card Date,Business Partner Name,Vehicle No.,Vehicle Model,Current KM Reading,INVOICE LINE TEXT
0,2,2,0,0,2,2,35

In [18]:
df[df['INVOICE LINE TEXT'].isna()].index

Int64Index([], dtype='int64')

**Note 1:**  
Only 2% of rows have NaN values, hence dropping all rows with NaN values

In [10]:
df.dropna(inplace=True) #will all rows containing NaN

In [13]:
df.isna().sum().to_frame().T

,Invoice Date,Job Card Date,Business Partner Name,Vehicle No.,Vehicle Model,Current KM Reading,INVOICE LINE TEXT
0,0,0,0,0,0,0,0

In [17]:
#below line is to drop those rows that have NaN in a selected few columns
#df.dropna(subset=['Invoice Date', 'Job Card Date'], inplace=True)

In [14]:
df.shape

(28448, 7)

In [19]:
df.columns

Index(['Invoice Date', 'Job Card Date', 'Business Partner Name', 'Vehicle No.',
       'Vehicle Model', 'Current KM Reading', 'INVOICE LINE TEXT'],
      dtype='object')

**Note 2:**  
'Business Partner Name', 'Vehicle No.' doesn't seem to affect forecasting of spare/parts requirements, will be dropped.

In [20]:
df.drop(['Business Partner Name', 'Vehicle No.'], axis=1, inplace=True)

In [21]:
df.to_excel('P4dataCleaned.xlsx')